@model Ticket

<h1>Ticket Details</h1>

<div>
    <h3>@Model.Title</h3>
    <p>@Model.Description</p>
    <p>Created By: @Model.CreatedBy</p>
    <p>Created On: @Model.CreatedOn</p>
    <p>Status: @Model.Status</p>
    <p>Priority: @Model.Priority</p>
</div>
