@model Ticket

<h1>Ticket Details</h1>

<div>
    <h3>@Model.Title</h3>
    <p>Description: @Model.Description</p>
    <p>Type: @Model.Type</p>
    <p>Project: @Model.Project</p>
    <p>Status: @Model.Status</p>
    <p>Priority: @Model.Priority</p>
    <p>Customer: @Model.Customer</p>
    <p>Created By: @Model.CreatedBy</p>
    <p>Created On: @Model.CreatedOn</p>
</div>
